/* Base styling for the add-class page */
.add-class-page {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgb(201, 101, 42);
  margin: 12rem 6rem 4rem 6rem;
  padding: 1rem;
  position: relative;
  text-align: right;
  border-radius: 10px;
}

.add-class-form {
  text-align: center;
}

.add-class-page h1 {
  text-align: center;
  font-size: 3rem;
  color: grey;
  margin-bottom: 5rem;
}

.add-class-page h3 {
  color: grey;
  text-align: right;
  font-size: 1.5rem;
  display: inline;
  transition: color 0.3s;
}

.add-class-page h3:hover {
  cursor: pointer;
  color: orangered;
}

.add-class-form div {
  margin-top: 2.5rem;
}

.add-class-form label {
  color: white;
}

.add-class-form input,
.add-class-form select {
  padding: 1rem;
  width: 70%;
  color: gray;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.excerpt {
  margin-bottom: 4rem;
}

.add-class-form button {
  padding: 1rem;
  width: 20%;
  border: none;
  background-color: rgb(255, 77, 0);
  border-radius: 10px;
  color: white;
  margin: 2rem 0;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.add-class-form button:hover {
  cursor: pointer;
  background-color: rgb(255, 51, 0);
}

/* Responsive Design Adjustments */
@media (max-width: 900px) {
  .add-class-page {
    margin: 8rem 3rem 2rem 3rem;
    padding: 1.5rem;
    text-align: center;
  }

  .add-class-page h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .add-class-page h3 {
    font-size: 1.2rem;
  }

  .add-class-form input,
  .add-class-form select {
    width: 97%; /* Expand input width for smaller screens */
  }

  .add-class-form button {
    width: 50%; /* Adjust button width for small screens */
  }
}

@media (max-width: 600px) {
  .add-class-page {
    margin: 5rem 1.5rem 2rem 1.5rem;
    padding: 1rem;
  }

  .add-class-page h1 {
    font-size: 2rem;
  }

  .add-class-page h3 {
    font-size: 1rem;
  }

  .add-class-form input,
  .add-class-form select {
    width: 97%;
  }

  .add-class-form button {
    width: 70%;
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .add-class-page {
    margin: 2rem 1rem 1rem 1rem;
    padding: 0.8rem;
  }

  .add-class-page h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .add-class-page h3 {
    font-size: 0.9rem;
  }

  .add-class-form button {
    width: 80%;
    font-size: 0.8rem;
  }
}
