/* body {
  background-color: white;
} */

.all-classes-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 4rem;
  color: white;
}

.classes {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgb(201, 101, 42); /* Example shadow */
  margin-top: 12rem;
  margin-bottom: 8%;
  position: relative;
  text-align: center;
  padding: 3rem;
  height: 190vh;
  width: 80%; /* Ensure the width is less than 100% */
  align-items: center;
  margin-left: auto;
  margin-right: auto; /* This will center the element horizontally */
}

.loading-container {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgb(201, 101, 42); /* Example shadow */
  margin-top: 12rem;
  margin-left: 9rem;
  margin-right: 6rem;
  margin-bottom: 8%;
  position: relative;
  text-align: center;
  padding: 3rem;
  height: 190vh;
  width: 80%;
}

.loading-container p {
  color: gray;
  font-size: 3rem;
}

.card-row {
  display: flex;
}

.add-class-button {
  color: grey;
  text-align: right;
  padding: 1rem;
  font-size: 1.5rem;
  width: auto; /* Ensures the width is determined by the content */
  display: inline;
  transition: color 0.3s;
}

.add-class-button:hover {
  cursor: pointer;
  color: orangered;
}

.no-classes {
  text-align: center;
  grid-column: span 3; /* Make it span all 3 columns in the grid */
  padding: 20px;
  font-size: 1.5rem;
  color: grey;
  font-weight: bold;
}

.filter-small {
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0.8rem;
  background-color: rgb(84, 84, 84);
  border: none;
  color: rgb(183, 183, 183);
  font-size: 1rem;
  margin-top: 3rem;
}

.close-button {
  margin-top: 3rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0.8rem;
  background-color: #ff530f;
  border: none;
  color: rgb(0, 0, 0);
  width: 90%;
  font-size: 1rem;
}

@media screen and (max-width: 900px) {
  /* Title */
  .all-classes-title {
    font-size: 2rem; /* Adjust title font size */
    margin-top: 2rem;
  }

  /* Classes Container */
  .classes {
    margin: 2rem auto; /* Adjusts margin for smaller screens */
    padding: 2rem;
    width: 90%; /* Makes it take up more of the screen width */
  }

  .loading-container {
    margin: 2rem auto; /* Adjusts margin for smaller screens */
    padding: 2rem;
    width: 90%; /* Makes it take up more of the screen width */
  }
}

@media screen and (max-width: 600px) {
  .all-classes-title {
    font-size: 1.8rem; /* Smaller font size */
  }

  .classes {
    width: 95%; /* Full width */
    padding: 1.5rem;
    margin-top: 1.5rem;
  }

  .loading-container {
    width: 95%; /* Full width */
    padding: 1.5rem;
    margin-top: 1.5rem;
  }

  .add-class-button {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}
