.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.quotes {
  text-align: center;
  /* margin-left: 20rem;
  margin-bottom: 17rem;
  margin-top: 10rem; */
  width: 50%;
  margin-top: 4rem;
}

.quotes h1 {
  text-align: center;
  font-size: 3rem;
}

.quotes p {
  font-size: 1.5rem;
}

.connect {
  display: flex;
  justify-content: space-between; /* Distribute items across full width */
  gap: 0; /* Remove any gap */
  padding: 0 2rem; /* Optional: padding for a slight margin from edges */
  width: 100%; /* Ensure it takes the full width of the container */
  box-sizing: border-box; /* Include padding in the total width */
  margin-top: 8rem;
}

span {
  color: orangered;
}

.socials {
  display: flex;
  justify-content: space-evenly;
}

.socials p {
  margin: 0.2rem;
}

.socials-container {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .connect {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .socials {
    margin-bottom: 4rem;
  }
}
