.about {
  display: flex;
  margin: 4rem;
}

.about img {
  width: 30%;
  height: auto;
}

.about-text {
  margin: 2rem;
  text-align: center;
}

/* .about-text h1 {
  text-align: center;
} */

.upcoming-events {
  margin-top: 12rem;
}

.upcoming-events h1 {
  text-align: center;
}

.upcoming-classes {
  display: flex;
  justify-content: center;
  width: 100%;
}

.upcoming-classes div {
  width: 60%;

  margin: 3.5rem;
}

.upcoming-classes div img {
  width: 100%;
  height: auto;
}

.upcoming-classes div h1,
h3,
p {
  text-align: left;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0.5rem;
}

.connect-with-us {
  background-color: rgb(236, 141, 63);
}
