.card {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 1rem;
  box-sizing: border-box;
  padding: 0.1rem;
  transition: padding 0.3s ease, border-bottom 0.3s ease,
    background-color 0.3s ease;
  border-bottom: 1px solid #ff530f3c;
  border: white solid 1px;
  padding: 1rem;
}

.card:hover {
  border-bottom: 2px solid #ff530f;
  cursor: pointer;
  color: #ff530f;
}

/* .card div h1:hover {
  color: #ff530f;
} */

.card img {
  width: 110%;
  height: 300px;
}

.info {
  margin: 0 auto;
  box-sizing: border-box;
  text-align: left;
  /* background-color: rgb(255, 255, 255); */
  padding-bottom: 1rem;
}

.info h1 {
  color: rgb(255, 255, 255);
  margin: 0;
}

.info h3,
.info p {
  padding: 0px;
  margin-top: 1rem;
  color: rgb(199, 199, 199);
  padding: 5px;
}
